* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

#main{
    display: flex;
    flex-direction:column;
    align-items: center;
}

#container-img {
    display: flex;
    position: relative;
    justify-content: flex-start;
}

.icon-media {
    width: 25px;
    margin: 10px 25px;
}

#img-div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#image {
    flex: 1;
    width: 100%;    
    height: auto;
}

#img-caption {
    flex: 1;
    text-align: center;
    font-size: 1.2rem;
    margin: 1.2rem;
}

#container-nav{
    position: absolute;
}

#title {
    flex: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: white;
    text-align: right;
    right: 2rem;
}

#title-name{
    flex: 1;
    font-size: 4rem;
    margin-top: 8rem;
    margin-right: 4rem;
    margin-bottom: 0rem;
}

#title-history {   
    flex: 1;
    color: white;
    font-size: 1.5rem;
    margin-right: 4rem;
}

#title-date{
    flex: 1;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-right: 4rem;
}

#title-learn-btn {
    flex: 1;
    font-size: 1.2rem;
    margin-top: 1.5rem;
    margin-right: 4rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 160px;
    border: 2px solid white;
    border-radius: 4px;
    background-color: transparent;
    color:white;
    transition: all 100ms ease;
}

#title-learn-btn:hover{
    animation: shadow 500ms 1 forwards;
}

@keyframes shadow {
    0%{
        box-shadow: 0 0 0 0 white;
    }
    100%{
        box-shadow: 0 0 15px 2px white;
    }
}

#container-tribute {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    width: auto;
    align-items: center;
    margin: 50px 0px;
}

#tribute-info{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0.5rem;
}

.h2-tl {
    flex: 1;
    text-align: center;
    font-size: 2em;
    max-width: 25rem;
    width: auto;
    padding: 0.1rem 1rem;
    margin: 1rem;
}

.tribute-info-tl {
    border: 25px solid transparent;
    border-image: url("../media/border.png") 30 round;
    -moz-border-image: url("../media/border.png") 30 round;
    -webkit-border-image: url("../media/border.png") 30 round;
    border-image-slice: 25;
}

#tribute-info li {
    flex: 1;
    width: auto;
    text-align: justify;
    margin: 1rem ;
    font-size: 1.2rem;
}

#tribute-info > h3 {
    width: auto;
    text-align: center;
    margin: 1rem;
    font-size: 1.5rem;
}

#gallery{
    background-color: rgb(223, 221, 221);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gallery-tl {
    font-size: xx-large;
}

#gallery-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 900px;
    width: auto;
}

.image-container{
    width: 24%;
    margin-bottom: 20px;
    height: 200px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}


.image-container > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hover-image{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(252, 144, 132, 0.5);
    transition: transform .5s;
    transform: scale(0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hover-image > img{
    width: 50px;
}

.hover-image > p{
    font-weight: 550;
}

.image-container:hover .hover-image{
    transform: scale(1);
}

